@mixin cta {
    display: inline-block;
    padding: 17px 30px 13px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: rem(18);
    font-weight: bold;
    min-height: 25px;
    font-family: hubl("$main_font");
    text-align: center;
    transition: all 0.3s ease 0s;
    margin-right:20px;
}

@mixin cta-primary {
color:hubl("$white");
background-color:hubl("$second_color");
border: 1px solid transparent;
transition: .3s ease;
    &:hover {
    background: hubl("$white");
    color: hubl("$second_color");
    border: 1px solid hubl("$second_color");
    transition: .3s ease;
    }
    &--transparent{
        background-color:transparent;
        color: hubl("$second_color");
        border: 2px solid hubl("$second_color");
    }
}

@mixin cta-secondary {
    background-color:hubl("$first_color");
    color:hubl("$white");
    border: 1px solid transparent;
    &:hover {
        background: hubl("$white");
        color: hubl("$first_color");
        border: 1px solid hubl("$first_color");
    }
}
@mixin cta-tertiary {
    background-color:hubl("$first_color");
    color:hubl("$white");
    border: 1px solid hubl("$white");
    font-size:rem(18);
    &:hover {
        background: hubl("$white");
        color: hubl("$first_color");
    }
}
@mixin cta-gradient {
    color:hubl("$white");
    background-image:linear-gradient(to right, hubl("$c1"), hubl("$c2"));
    transition:.3s ease;
    &:hover {
        background: hubl("$white");
        color: hubl("$first_color");
    }
}


.cta_button, .cta {
    text-decoration: none;
    box-sizing: border-box !important;
    margin-bottom: 20px;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        &:before {
            display: none;
        }
    }
}

.cta-primary,
.cta-secondary,
.cta-gradient,
.cta-tertiary {
    @include cta;
}

.cta-primary {
    @include cta-primary;
}

.cta-secondary {
    @include cta-secondary;
}
.cta-tertiary {
    @include cta-tertiary;
}
.cta-gradient {
    @include cta-gradient;
}