.footer-container-wrapper {

	.row-fluid [class*="span"] {
		min-height: 0;
	}
}

.footer-container-wrapper {
    background-color: hubl("$first_color");
    color: #fff;

    h1, h2, h3, h4, h5, h6, p, a, li, blockquote, span, em, strong, small {
        color: inherit;
    }


    footer {
        padding: 70px 0 0;
        h2 {
            line-height: rem(50);
            margin: 0 0 40px 0;
        }
        h4 {
            
            font-size: rem(18);
            line-height: rem(24);
            margin: 0 0 25px;
            @media (max-width: 767px) {
                margin: 20px 0 10px;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            li {
                &:before {
                    display: none;
                }
            }
        }
        p,
        a {
            font-size: rem(14);
            line-height: rem(19);
        }
        p {
            margin: 0 0 5px 0;
            // font-weight: bold;
        }
        a{
            color: #fff !important;
            text-decoration: none !important;
            transition: .3s !important;
            &:hover {
                color: hubl("$first_color");
                text-decoration: underline !important;
                transition: .3s !important;
            }
        }
    }
    .footer {
        &--main-block {
            p {
                margin-bottom:15px;
            }
        }
        &--post-block{
            ul{
                li{
                    margin-bottom:15px;
                    p{
                        &:nth-child(1){
                            font-weight: bold;
                        }
                       
                    }
                }
            }
        }
        &--links-block {
            padding-left:115px !important;
            @media(max-width:991px){
                padding-left:30px !important;
            }
            @media(max-width:767px){
                padding-left:15px !important;
            }
            ul {
                display: flex;
                flex-direction: column;
                li {
                    margin-bottom: 10px;
                    a {
                        padding: 0;
                        color: #fff;
                        &:hover {
                            color: hubl("$first_color");
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &--bottom {
            padding:10px 0 60px 0;
            border-top: 1px solid #fff;

            > div {

                > div {
                    @media (min-width: 768px) {
                        flex-wrap: nowrap;
                    } 
                }
            }

            @media (max-width: 767px) {
                text-align: center;
            }
            ul{
                text-align: right;
                @media (max-width: 767px) {
                    text-align: center;
                }
                li{
                    display:inline-block;
                    a{
                        i{
                            transform: translateY(-4px);
                            padding:0 15px;
                        }
                    }
                }
            }
        }
    }
}

// .arrow-up-wrapper {
//     position: fixed;
//     bottom: 130px;
//     right: 42px;
//     width: 42px;
//     height: 42px;
//     line-height: 42px;
//     text-align: center;
//     cursor: pointer;
//     background-color: hubl("$secondary_text");
//     opacity: 0;
//     z-index: 3;
//     border-radius: 50%;
//     transition: bottom .5s ease, opacity .5s ease, background-color .5s ease, box-shadow .3s ease;
//     &:hover {
//         background-color: hubl("$first_color");
//         box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.35);
//         i {
//             text-shadow: 0px -50px #fff, 0px 0px #fff;
//         }
//     }
//     &.visible {
//         opacity: .75;
//     }
//     i {
//         position: relative;
//         overflow: hidden;
//         font-size: 9px;
//         width: inherit;
//         height: inherit;
//         line-height: inherit;
//         display: block;
//         color: transparent;
//         text-shadow: 0px 0px #fff, 0px 50px #fff;
//         transition: text-shadow .3s ease;
//         z-index: 1;
//     }
//     @media (min-width: 768px) {
//         width: 62px;
//         height: 62px;
//         line-height: 62px;
//         i {
//             font-size: 12px;
//         }
//     }
//     &.popup-fallback {
//         z-index: 1;
//     }
// }

// // LANDING 
// .footer-container-wrapper {
//     footer.landing {
//         padding: 35px 0 0 0;
//         .footer__bottom {
//             margin-top: 0px;
//             border-top: none;
//             padding: 0;
//             p {
//                 margin: 0px;
//             }
//         }
//     }
// }