.hs_cos_wrapper_type_blog_subscribe,
.hs_cos_wrapper_type_form,
.hs_cos_wrapper_type_blog_comments {


    h3 {
        margin: 0;
    }

    form {
        max-width: 600px;
        margin: auto;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.28);

        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        select {
            font-family: hubl("$main_font");
            background-color: #fff;
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            padding: 16px 25px 14px 25px;
            display: inline-block;
            box-sizing: border-box;
            font-size: rem(16);
            border: 1px solid hubl_rgba("$co3", 1);
            border-radius: 5px;
            outline: none;
            color: hubl("$co3");

            &::placeholder {
                color: hubl("$co3");
                font-size: rem(18);
            }
        }

        .actions {
            text-align: center;
        }

        textarea {
            overflow: auto;
            resize: vertical;
            min-height: rem(120);
        }

        select {
            padding-right: 50px;
            cursor: pointer;
        }

        select {
            -moz-appearance: none;
            -webkit-appearance: none;
        }

        /*for IE10*/
        select::-ms-expand {
            display: none;
        }

        select::-ms-value {
            color: hubl("$main_font_color");
            background: transparent;
        }

        select:focus::-ms-value {
            color: hubl("$main_font_color");
            background: transparent;
        }

        input::-webkit-input-placeholder {
            color: hubl("$main_font_color");
        }

        input::-moz-placeholder {
            color: hubl("$main_font_color");
            opacity: 1;
        }

        input:-ms-input-placeholder {
            color: hubl("$main_font_color");
        }

        input:-moz-placeholder {
            color: hubl("$main_font_color");
            opacity: 1;
        }

        .hs-fieldtype-select {

            .input {
                position: relative;

                &:after {
                    pointer-events: none;
                    position: absolute;
                    display: block;
                    content: "";
                    width: 10px;
                    height: 10px;
                    right: 25px;
                    top: 50%;
                    transform-origin: top;
                    transform: translateY(-50%) rotate(45deg);
                    border-right: 2px solid hubl_rgba("$dark", 0.3);
                    border-bottom: 2px solid hubl_rgba("$dark", 0.3);
                }
            }
        }

        ul {
            margin-top: rem(10);
            margin-bottom: 0;

            li {
                position: relative;
            }
        }

        .inputs-list {
            list-style: none;
            padding-left: rem(35);
        }

        input[type="checkbox"] {
            position: absolute;
            left: rem(-35);
            z-index: 1;
            opacity: 0;
            cursor: pointer;

            +span {
                cursor: pointer;
                margin-left: 0;
                margin-top: 20px;

                &:before {
                    display: block;
                    content: "";
                    width: rem(17);
                    height: rem(17);
                    background-color: #fff;
                    border: 1px solid hubl("$co5");
                    border-radius: 5px;
                    position: absolute;
                    left: rem(-35);
                    top: rem(1);
                }

                &:after {
                    display: block;
                    content: "";
                    width: rem(5);
                    height: rem(9);
                    border-bottom: 1px solid hubl("$first_color");
                    border-right: 1px solid hubl("$first_color");
                    position: absolute;
                    left: rem(-29);
                    top: rem(4);
                    z-index: 1;
                    transform: rotate(44deg);
                    opacity: 0;
                    transition: all .2s linear;
                }
            }
        }

        input[type="checkbox"]:checked {

            +span {

                &:after {
                    opacity: 1;
                }
            }
        }

        input[type="radio"] {
            position: absolute;
            left: rem(-35);
            z-index: 1;
            opacity: 0;
            cursor: pointer;

            +span {
                cursor: pointer;

                &:before {
                    display: block;
                    content: "";
                    width: rem(17);
                    height: rem(17);
                    background-color: #fff;
                    border: 1px solid hubl("$first_color");
                    border-radius: 50%;
                    position: absolute;
                    left: rem(-35);
                    top: rem(7);
                }

                &:after {
                    display: block;
                    content: "";
                    width: rem(17);
                    height: rem(17);
                    background-color: hubl("$first_color");
                    transform: scale(.4);
                    border-radius: 50%;
                    position: absolute;
                    left: rem(-35);
                    top: rem(7);
                    z-index: 1;
                    opacity: 0;
                    transition: all .2s linear;
                }
            }
        }

        input[type="radio"]:checked {

            +span {

                &:after {
                    opacity: 1;
                }
            }
        }

        input[type="submit"] {
            -webkit-appearance: none;
            @include cta();
            @include cta-primary();
            margin-top: rem(20);
            cursor: pointer;
        }

        .hs-form-required {
            display: none;
        }

        .hs-form-field {
            text-align: left;
            margin-bottom: rem(6);
            width: 100%;

            >label {
                display: block;
                margin-bottom: rem(14);
            }
        }

        .hs-input {
            width: 100%;

            @media (max-width: 480px) {
                width: 100% !important;
            }
        }

        label {
            text-align: left;
        }

        .hs-error-msgs {
            text-align: left;
            list-style: none;
            padding: 0;
            font-size: rem(16);
        }


        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
            max-width: none;
            width: 100%;

            .hs-form-field {

                &:last-of-type {
                    margin-right: 0;
                }

                .hs-input {
                    width: 100%;
                }

                .input {
                    margin-right: 0;
                }
            }

            &.form-columns-1 {}

            &.form-columns-2 {

                .hs-form-field {
                    width: 100%;

                    @media (min-width: 768px) {
                        max-width: calc(50% - 15px);
                        margin-right: 30px;

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }

            &.form-columns-3 {

                .hs-form-field {
                    width: 100%;

                    @media (min-width: 768px) {
                        max-width: calc(33.33% - 20px);
                        margin-right: 30px;

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }

            .hs-recaptcha {
                margin-top: rem(14);
            }

            .legal-consent-container {
                font-size: rem(14);
                text-align: left;
                margin-top: rem(10);
                margin-bottom: rem(10);

                .hs-form-booleancheckbox-display {

                    >span {
                        display: inline-block;
                        margin-left: 0;
                    }
                }
            }
        }

        background-color: hubl("$white");
        padding:30px;

    }

    .hs-richtext {
        margin: -30px -30px 0 -30px;

        p {
            font-size: rem(30);
            text-align: center;
            margin: 0;
            min-height: 60px;
            line-height: 60px;
            background-color: hubl("$c1");
            border-radius: 5px 5px 0 0;
            font-weight: bold;
        }
    }
}

.contractor-hub-new-forms {
    padding-top: 50px;

    @media(min-width: 768px) {
        transform: translateY(-60px);
        padding-top: 0;
    }
}

.background-color--first-color {

    form {

        a {
            color: #fff;
        }

        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        select {}

        input[type="submit"] {
            @include cta-primary();
            border: none;
        }

        label {
            color: hubl("$co5");
            font-size: rem(14);
        }

        .hs-form-field {
            >label {
                color: hubl("$co5");
                font-size: rem(14);
                margin-top: 20px;
                margin-bottom: 5px;
            }
        }

        .legal-consent-container {

            .hs-error-msgs {

                label,
                a {
                    color: #fff;
                }
            }
        }
    }
}

// HORIZONTAL FORM FOR EXAMPLE LIKE ON PAYROLL TEMPLATE
.new-form {

    form {
        position: relative;
        display: flex;
        max-width: 100%;
        box-shadow: none;
        background: transparent;
        padding: 35px 0 55px 0;

        @media(max-width: 767px) {
            flex-wrap: wrap;
        }

        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        select {
            background-color: transparent;
            width: 100%;
            border: 1px solid hubl_rgba("$co4", 1);
            border-radius: 5px;
            outline: none;
            color: hubl("$co4");

            &::placeholder {
                color: hubl_rgba("$co4", 0.3);
                font-size: rem(18);
            }
        }

        >div {
            padding: 0 15px;
            margin-top: auto;
            margin-bottom: 0 !important;

            @media(max-width: 767px) {
                // margin: 10px 0;
                padding: 10px 0;
            }

            &:nth-child(1) {
                padding-left: 0;
            }

            &.hs_submit.hs-submit {
                padding-right: 0;
            }

            label {
                color: hubl("$co4");
                font-size: rem(14);
                line-height: 1;
            }

            .actions {
                input {
                    border: none;
                    margin-right: 0;

                    @media(max-width: 767px) {
                        margin-top: 10px;
                    }
                }
            }
        }

        .hs-error-msgs {
            position: relative;
            right: 0;
        }

        .hs_error_rollup {
            position: absolute;
            bottom: 0;
            right: 0;

        }
    }

    //STANDARD FORM !!!!!!!!!!
    &--standard {
        form {
            max-width: 500px;
            background: #fff;
            flex-direction: column;
            padding: 30px;
            box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.28);

            >div {
                padding: 0;
                padding-bottom: 20px;
            }
        }

    }
}

form {
    max-width: 600px;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.28);

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    select {
        font-family: hubl("$main_font");
        background-color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        padding: 16px 25px 14px 25px;
        display: inline-block;
        box-sizing: border-box;
        font-size: rem(16);
        border: 1px solid hubl_rgba("$co3", 1) !important;
        border-radius: 5px;
        outline: none;
        color: hubl("$co3") !important;

        &::placeholder {
            color: hubl("$co3") !important;
            font-size: rem(18);
        }
    }

    .actions {
        text-align: center;
    }

    textarea {
        overflow: auto;
        resize: vertical;
        min-height: rem(120);
    }

    select {
        padding-right: 50px;
        cursor: pointer;
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    /*for IE10*/
    select::-ms-expand {
        display: none;
    }

    select::-ms-value {
        color: hubl("$main_font_color");
        background: transparent;
    }

    select:focus::-ms-value {
        color: hubl("$main_font_color");
        background: transparent;
    }

    input::-webkit-input-placeholder {
        color: hubl("$main_font_color");
    }

    input::-moz-placeholder {
        color: hubl("$main_font_color");
        opacity: 1;
    }

    input:-ms-input-placeholder {
        color: hubl("$main_font_color");
    }

    input:-moz-placeholder {
        color: hubl("$main_font_color");
        opacity: 1;
    }

    .hs-fieldtype-select {

        .input {
            position: relative;

            &:after {
                pointer-events: none;
                position: absolute;
                display: block;
                content: "";
                width: 10px;
                height: 10px;
                right: 25px;
                top: 50%;
                transform-origin: top;
                transform: translateY(-50%) rotate(45deg);
                border-right: 2px solid hubl_rgba("$dark", 0.3);
                border-bottom: 2px solid hubl_rgba("$dark", 0.3);
            }
        }
    }

    ul {
        margin-top: rem(10);
        margin-bottom: 0;

        li {
            position: relative;
        }
    }

    .inputs-list {
        list-style: none;
        padding-left: rem(35);

        span {
            margin: 0 !important;
        }
    }

    input[type="checkbox"] {
        position: absolute;
        left: rem(-35);
        z-index: 1;
        opacity: 0;
        cursor: pointer;

        +span {
            cursor: pointer;
            margin-left: 0;
            margin-top: 20px;

            &:before {
                display: block;
                content: "";
                width: rem(17);
                height: rem(17);
                background-color: #fff;
                border: 1px solid hubl("$co5");
                border-radius: 5px;
                position: absolute;
                left: rem(-35);
                top: rem(-2) !important;
            }

            &:after {
                display: block;
                content: "";
                width: rem(5);
                height: rem(9);
                border-bottom: 1px solid hubl("$first_color");
                border-right: 1px solid hubl("$first_color");
                position: absolute;
                left: rem(-29);
                top: rem(1) !important;
                z-index: 1;
                transform: rotate(44deg);
                opacity: 0;
                transition: all .2s linear;
            }
        }
    }

    input[type="checkbox"]:checked {

        +span {

            &:after {
                opacity: 1;
            }
        }
    }

    input[type="radio"] {
        position: absolute;
        left: rem(-35);
        z-index: 1;
        opacity: 0;
        cursor: pointer;

        +span {
            cursor: pointer;

            &:before {
                display: block;
                content: "";
                width: rem(17);
                height: rem(17);
                background-color: #fff;
                border: 1px solid hubl("$first_color");
                border-radius: 50%;
                position: absolute;
                left: rem(-35);
                top: rem(7);
            }

            &:after {
                display: block;
                content: "";
                width: rem(17);
                height: rem(17);
                background-color: hubl("$first_color");
                transform: scale(.4);
                border-radius: 50%;
                position: absolute;
                left: rem(-35);
                top: rem(7);
                z-index: 1;
                opacity: 0;
                transition: all .2s linear;
            }
        }
    }

    input[type="radio"]:checked {

        +span {

            &:after {
                opacity: 1;
            }
        }
    }

    input[type="submit"] {
        -webkit-appearance: none;
        @include cta();
        @include cta-primary();
        margin-top: rem(20);
        cursor: pointer;
    }

    .hs-form-required {
        display: none;
    }

    .hs-form-field {
        text-align: left;
        margin-bottom: rem(6);
        width: 100%;

        >label {
            display: block;
            margin-bottom: rem(14);
        }
    }

    .hs-input {
        width: 100%;

        @media (max-width: 480px) {
            width: 100% !important;
        }
    }

    label {
        text-align: left;
        margin-bottom: 10px !important;
    }

    .hs-error-msgs {
        text-align: left;
        list-style: none;
        padding: 0;
        font-size: rem(16);
    }


    fieldset {
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
        max-width: none;
        width: 100%;

        .hs-form-field {

            &:last-of-type {
                margin-right: 0;
            }

            .hs-input {
                width: 100%;
            }

            .input {
                margin-right: 0;
            }
        }

        &.form-columns-1 {}

        &.form-columns-2 {

            .hs-form-field {
                width: 100%;

                @media (min-width: 768px) {
                    max-width: calc(50% - 15px);
                    margin-right: 30px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }

        &.form-columns-3 {

            .hs-form-field {
                width: 100%;

                @media (min-width: 768px) {
                    max-width: calc(33.33% - 20px);
                    margin-right: 30px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }

        .hs-recaptcha {
            margin-top: rem(14);
        }

        .legal-consent-container {
            font-size: rem(14);
            text-align: left;
            margin-top: rem(10);
            margin-bottom: rem(10);

            .hs-form-booleancheckbox-display {

                >span {
                    display: inline-block;
                    margin-left: 0;
                }
            }
        }
    }

    background-color: hubl("$white");
    padding:30px;

    .legal-consent-container {
        padding: 0 !important;
    }

    .hs_submit.hs-submit {
        padding: 0;
    }

    .hs_error_rollup {
        position: static !important;
    }
}




.transparent-two-column-form {
    form {
        position: relative;
        background-color: transparent;
        box-shadow: none;
        max-width: 100%;
        padding: 0;

        >div:not(.hs_file) {

            >div.input {
                input.hs-input {
                    background-color: transparent;
                    border: 1px solid hubl_rgba("$white", 0.3) !important;

                    &::placeholder {
                        color: hubl_rgba("$white", 0.8) !important;
                    }

                }
            }
        }

        >div {
            label {
                color: hubl("$white");

                span {
                    color: hubl("$white");
                }
            }

            &:not(.hs_submit):not(.legal-consent-container) {
                @media(min-width: 768px) {
                    width: 50% !important;
                    padding: 0 15px;
                }

            }

            &.legal-consent-container {
                padding: 5px 0 0 15px !important;

                input[type="checkbox"] {

                    &+span {
                        &:before {
                            background-color: transparent;
                            border-color: hubl("$white");
                        }
                    }
                }
            }

            &.hs_submit.hs-submit {
                .actions {
                    input {
                        border: 1px solid hubl("$second_color");
                        padding: 13px 40px;
                    }
                }
            }
        }

        div.hs_file.hs-file {
            @media(min-width: 768px) {
                position: absolute;
                top: 0;
                right: 0;
            }

            >label {
                @media(min-width: 768px) {
                    margin-top: 0;
                }

            }

            div.input {
                .bfi-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: 1px dashed hubl_rgba("$white", 0.4);
                    border-radius: 5px;
                    height: 363px;

                    >label {
                        text-align: center;
                        font-size: rem(18);

                        p {
                            margin-bottom: 35px;
                        }

                        span {
                            background-color: hubl("$white");
                            color: hubl("$first_color");
                            font-weight: bold;
                            text-decoration: none;
                            border-radius: 5px;
                            padding: 10px 20px;
                            transition: .3s ease;
                            border: 1px solid hubl("$white");

                            &:hover {
                                background-color: transparent;
                                color: hubl("$white");
                                transition: .3s ease;
                            }
                        }

                    }
                }

                // input{
                //   height:300px;
                //   border: 1px dashed hubl_rgba("$white", 0.8);
                //   border-radius: 5px;
                // }
            }
        }

    }
}

.only-subscription {
    h3 {
        text-align: center;
    }

    form {
        position: relative;
        background-color: transparent;
        box-shadow: none;
        
        @media(min-width:500px){
          display: flex;
        }
        @media(max-width: 767px){
          padding-left:0;
          padding-right:0;
        }

        >div {
            label {}

            >.input {
                >input {
                  @media(min-width:500px){
                    border-radius: 5px 0 0 5px;
                    border-right: none;
                  }
                    
                    border: 1px solid hubl("$first_color") !important;
                    
                    color: hubl_rgba("$co5", 0.3) !important;

                    &::placeholder {
                        color: hubl_rgba("$co5", 0.3) !important;
                    }
                }
            }

            &.hs_error_rollup {
                position: absolute !important;
                bottom: 0;
            }
        }

        .hs_submit.hs-submit {
            .actions {
                input.hs-button[type="submit"] {
                  @media(min-width:500px){
                    border-radius: 0 5px 5px 0;
                  }
                    margin: 10px 0 0 0;
                    
                    background-color: hubl("$first_color");
                    height: 54px;
                    padding: 13px 30px;

                    &:hover {
                        color: hubl("$first_color");
                        background-color: hubl("$white");
                        border: 1px solid hubl("$first_color");
                    }
                }
            }
        }
    }
}