* {
    outline: none;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

body .row-fluid [class*="span"] {
    min-height: 1px;
}

.body-container-wrapper {
    // padding-top: 100px;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;

    &--600 {
        max-width: 600px !important;
    }
    &--850 {
        max-width: 850px !important;
    }
    &--1000 {
        max-width: 1030px !important;
    }
    &--1920 {
        max-width: 1920px !important;
    }
    &:before, &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }
}

// .background-color {

//     &--first-color {
//         background-image: linear-gradient(hubl("$c1"), hubl("$c2"));
//     }
// }

// margin top
.mt {

    @for $i from 1 through 10 {
        &--#{$i*10} {
            margin-top: #{$i*10}px;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 10 {
            &--sm-#{$i*10} {
                margin-top: #{$i*10}px;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 10 {
            &--md-#{$i*10} {
                margin-top: #{$i*10}px;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 10 {
            &--lg-#{$i*10} {
                margin-top: #{$i*10}px;
            }
        }
    }
}

// margin bottom
.mb {

    @for $i from 1 through 10 {
        &--#{$i*10} {
            margin-bottom: #{$i*10}px;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 10 {
            &--sm-#{$i*10} {
                margin-bottom: #{$i*10}px;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 10 {
            &--md-#{$i*10} {
                margin-bottom: #{$i*10}px;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 10 {
            &--lg-#{$i*10} {
                margin-bottom: #{$i*10}px;
            }
        }
    }
}

// padding top
.pt {

    @for $i from 1 through 10 {
        &--#{$i*10} {
            padding-top: #{$i*10}px;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 10 {
            &--sm-#{$i*10} {
                padding-top: #{$i*10}px;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 10 {
            &--md-#{$i*10} {
                padding-top: #{$i*10}px;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 10 {
            &--lg-#{$i*10} {
                padding-top: #{$i*10}px;
            }
        }
    }
}

// padding bottom
.pb {

    @for $i from 1 through 15 {
        &--#{$i*10} {
            padding-bottom: #{$i*10}px;
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 15 {
            &--sm-#{$i*10} {
                padding-bottom: #{$i*10}px;
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 15 {
            &--md-#{$i*10} {
                padding-bottom: #{$i*10}px;
            }
        }
    }

    @media (min-width: 992px) {

        @for $i from 1 through 15 {
            &--lg-#{$i*10} {
                padding-bottom: #{$i*10}px;
            }
        }
    }
}

// margin bottom for modules in flexible column
.flex-mb {

    @for $i from 1 through 15 {
        &--#{$i*10} {

            > span {

                > div {
                    margin-bottom: #{$i*10}px;
                }
            }
        }
    }

    @media (min-width: 576px) {

        @for $i from 1 through 15 {
            &--sm-#{$i*10} {

                > span {

                    > div {
                        margin-bottom: #{$i*10}px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {

        @for $i from 1 through 15 {
            &--md-#{$i*10} {

                > span {

                    > div {
                        margin-bottom: #{$i*10}px;
                    }
                }
            }
        }

    }

    @media (min-width: 992px) {

        @for $i from 1 through 15 {
            &--lg-#{$i*10} {

                > span {

                    > div {
                        margin-bottom: #{$i*10}px;
                    }
                }
            }
        }
    }
}

