header.header {
    background-color: hubl("$first_color");
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 15;
    transition: .3s ease;


    &.shadow {
        box-shadow: 0px 0px 50px black;
        transition: .3s ease;
    }

    .logo {
        img {
            @media(max-width: 767px) {
                max-width: 200px;
                min-width: 200px;
            }
        }
    }

    &--landing {
        z-index: 11;
        background-color: hubl_rgba("$first_color", 0.5);

        @media(max-width: 767px) {
            height: 120px;
        }



        .phone-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height:60px;

            .icon {
                height: auto;

                img {
                    max-width: 25px;
                }
            }

            .number {
                padding-left: 15px;
                height: auto;
                color: white;

                p {
                    margin: 5px 0 0 0;
                }

            }
        }
    }

    .container {
        position: relative;
        height: 60px;

        >div {
            height: 60px;
        }

        .logo {

            span,
            a {
                height: 60px;
                line-height: 55px;
            }
        }

        .hamburger {
            position: absolute;
            display: none;
            flex-direction: column;
            justify-content: center;
            top: 0;
            right: 0;
            height: 60px;
            width: 60px;
            padding: 0 15px;
            margin-right: 10px;
            // transform: translateX(-50px);
            cursor: pointer;
            @media(max-width:767px){
                display:flex;
            }
            &.active {
                >div {
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(5px, 10px);
                        transition: .3s ease;
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        transition: .3s ease;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(3px, -10px);
                        transition: .3s ease;
                    }
                }
            }

            >div {
                background-color: hubl("$white");
                height: 4px;
                margin: 3px;
                width: 100%;
                transition: .2s ease;
            }
        }

        .main-menu {
            @media(max-width: 767px) {
                background-color: hubl("$first_color");
            }

            .hs-menu-wrapper {
                display: flex;
                @media(max-width:767px){
                    padding-bottom:30px;
                }


                >ul {
                    margin-left: auto;
                    height: 60px;

                    @media(max-width: 767px) {
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        height: auto;
                    }

                    >li {
                        height: 60px;


                        >ul {
                            display: none;
                            background: hubl("$first_color");
                            transform: translateY(-7px);
                            transition: .3s ease;

                            >li {
                                >a {
                                    color: white;
                                    font-weight: bold;
                                    font-size: 14px;
                                    transition: .3s ease;
                                    border-bottom: 3px solid transparent;
                                }

                                &:hover {
                                    >a {
                                        color: hubl("$co3");
                                        border-bottom: 3px solid hubl("$co3");
                                        transition: .3s ease;
                                    }
                                }
                            }
                        }

                        >a {
                            height: 60px;
                            line-height: 60px;
                            padding: 0 20px 0 20px;
                            font-size: rem(14);
                            font-weight: bold;
                            color: hubl("$white");
                            transition: .3s ease;
                        }

                        &:hover {
                            >a {
                                color: hubl("$co3");
                                transition: .3s ease;
                            }

                            border-bottom: 3px solid hubl("$co3");
                            transition: .3s ease;

                            @media(max-width:767px) {
                                border: none;
                            }
                        }

                        &[role="menu"] {
                            >a {
                                position: relative;

                                &:after {
                                    position: absolute;
                                    content: "";
                                    right: 0px;
                                    top: 50%;
                                    transform: translateY(-55%);
                                    border-left: 5px solid transparent;
                                    border-right: 5px solid transparent;
                                    border-top: 5px solid white;
                                }
                            }

                            &:hover {
                                >a {
                                    &:after {
                                        border-top: 5px solid hubl("$co3");
                                    }
                                }
                            }
                        }

                        &:hover {
                            >ul {
                                display: block;
                                transition: .3s ease;
                            }
                        }

                        @media(max-width: 767px) {
                            width: fit-content;
                            height: auto;

                            >a {
                                padding: 0;
                                height: auto;
                                line-height: 40px;
                                overflow: visible;
                                border-bottom: 3px solid transparent;
                            }

                            &[role="menu"] {
                                >a {
                                    &:after {
                                        right: -25px;
                                    }
                                }
                            }

                            &:hover {
                                >a {
                                    border-bottom: 3px solid hubl("$co3");
                                    // height:45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}