@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900&display=swap');

html {
    font-size: #{$browser-context}px;
}

.text-small {
    font-size: #{$browser-context - 4}px;
}

body {
    line-height: 1.4;
    font-family: hubl("$main_font");
    font-weight: normal;
    color: hubl("$main_font_color");
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

small,
.small {
    font-size: 80%;
}

strong,
.strong {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

cite {}

code {}

pre {}

sup,
sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

p {
    margin-top: 0;
    margin-bottom: rem(20);
    line-height: rem(24);

    &.white-color {
        color: hubl("$white");
    }
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: rem(15);
    color: hubl("$first_color");

    a {
        color: inherit;
    }
}

// ready
h1,
.h1 {
    font-weight: bold;
    font-size: rem(64);
    line-height: rem(88);

    @media(max-width: 767px) {
        font-size: rem(50);
        line-height: rem(68);
    }
}

// ready
h2,
.h2 {
    font-weight: bold;
    font-size: rem(44);
    line-height: rem(60);

    @media(max-width: 767px) {
        font-size: rem(40);
        line-height: rem(50);
    }
}

h3,
.h3 {
    font-weight: bold;
    font-size: rem(30);
}

h4,
.h4 {
    font-weight: bold;
    font-size: rem(20);
    line-height: 1.5;
    margin-bottom: rem(20);
}

h5,
.h5 {
    font-weight: bold;
    font-size: rem(24);
    line-height: 1;
}

h6,
.h6 {}

ul,
ol {
    margin-top: 0;
    margin-bottom: rem(20);

    ul {}

    ol {}

}

ul {
    list-style: none;
}

li {}

blockquote {}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-underline-position: under;

    &:hover {
        text-decoration: underline;
    }

    &:not([href]) {
        color: inherit;
        text-decoration: none;
    }
    &.orange{
        position: relative;
        font-size:rem(18);
        font-weight: bold;
        color: hubl("$first_color");
        padding-right: 15px;
        text-decoration: none;
        &:before, &:after{
            position:absolute;
            content:"";
            width:6px;
            height:6px;
            right:6px;
            top:50%;
            transform: translateY(-30%) rotate(45deg);
            border-top: 2px solid hubl("$first_color");
            border-right: 2px solid hubl("$first_color");
        }
        &:after{
            right:0;
        }
    }
}

.hs_cos_wrapper_type_rich_text,
.hs_cos_wrapper_type_inline_rich_text {
    display: block;

    a:not(.cta_button):not(.cta) {
        color: hubl("$first_color");
        text-decoration: underline;
    }

    ul {
        padding-left: 26px;

        li {
            position: relative;
            margin-bottom: 10px;

            &:before {
                position: absolute;
                display: block;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: hubl("$first_color");
                left: -26px;
                top: em(12);
            }
        }

        ul {
            padding-left: 20px;
        }
    }

    ol {
        counter-reset: section;
        list-style-type: none;
        padding-left: 26px;

        li {
            position: relative;
            margin-bottom: 10px;

            &:before {
                counter-increment: section;
                content: counters(section, ".") ".";
                position: absolute;
                display: block;
                color: hubl("$first_color");
                left: -26px;
                top: 0;
            }
        }

        ol {
            padding-left: 40px;

            li {

                &:before {
                    left: -60px;
                }
            }
        }
    }

}

.text-center {
    text-align: center;
}

.background-color {

    &--first-color {
        z-index:1;
        &--linear-gradient {
            background-image: linear-gradient(hubl("$c1"), hubl("$c2"));
        }

        color: #fff;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            color: #fff;
        }

        blockquote {}

        a:not(.cta_button):not(.cta) {
            color: #fff;

            text-decoration: underline;
        }

        i {
            color: #fff;
        }
        ul {
            li {
                &:before {
                    background-color: #fff;
                }
            }
        }
        ol {
            li {
                &:before {
                    color: #fff;
                }
            }
        }
    }

    &--second-color {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: hubl("$c3");
    }
    &--third-color {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: hubl("$second_color");
    }
    &--fourth-color {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: hubl("$first_color");
    }
}

.no-margin {
    margin: 0;
}

.text {
    &--color {
        &--white {
            h1{
                color: hubl("$white");
            }
            &--991 {
                @media(max-width: 991px) {
                    p, h1, h2, h3, h4, h5, h6{
                        color: hubl("$white");
                    }
                    
                }
            }
            &--767{
                @media(max-width: 767px) {
                    p, h1, h2, h3, h4, h5, h6{
                        color: hubl("$white");
                    }
                    
                }
            }
        }
    }
    &--size{
        &--55{
            h1{
                font-size:rem(55);
                line-height: rem(75);
                @media(max-width:767px){
                    font-size:rem(50);
                    line-height:rem(60);
                }
            }
        }
    }
}

#two-headers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .max-bottom{
        @media(min-width:768px){
            margin-bottom:-30px;
        }
    }
    >div{
        z-index:1;
    }
}

.shadow-on-text{
    &--767{
        @media(max-width:767px){
            p,h1,h2,li{
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            }
        }
    }

    
}