$dev_version : true;

$variables : (
			  "$first_color": #4591EC, 
			  "$second_color": #FF731A,
			  "$white":#fff,
			  "$c1":#4487EC,
			  "$c2":#4BD2ED,
			  "$c3":#EFEFEF,
			  "$co1":#28579F,
			  "$co2":#707070,
			  "$co3":#E0E0E0,
			  "$co4":#133652,
			  "$co5":#151515,
			  "$dark": #4B4B4B,
			  "$main_font_color": #4B4B4B,
			  "$main_font": ('Nunito', sans-serif)
			  );

$browser-context: 18; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Przelicznik z px na rem
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}

