.bg-img {
    background-position: center;
    background-size: cover;
}

.bg-and-content {
    width: 100%;
    margin: 0 auto;

    .content {
        position: relative;
        z-index: 2;
    }
}

.bg-triangles {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 441px;
    left: 0px;
    background-color: hubl("$c1");
    clip-path: polygon(50% 100%, 100% 50%, 100% 100%, 0 100%, 0 50%);

    @media(max-width: 767px) {
        clip-path: polygon(50% 100%, 100% 75%, 100% 100%, 0 100%, 0 75%);
    }

    &--bottom {
        clip-path: polygon(50% 100%, 100% 60%, 100% 100%, 0 100%, 0 60%);

        @media(max-width: 991px) {
            clip-path: polygon(50% 70%, 100% 60%, 100% 100%, 0 100%, 0 60%);
        }
    }

    &--top {
        clip-path: polygon(50% 60%, 100% 20%, 100% 0, 0 0, 0 20%);

        @media(max-width: 991px) {
            clip-path: polygon(50% 30%, 100% 20%, 100% 0, 0 0, 0 20%);
        }
    }
}

.white-mask-ie-repair {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    z-index: 2;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    &.turn-on {
        display: block;
    }
}

.white-mask-ie-repair-2 {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;

    &.turn-on {
        display: block;
    }
}

.image-z-index-set{
    // position:relative;
    // z-index:1;
}

.bg-triangle {
    position: relative;
    overflow: hidden;
    &.overflow-visible{
overflow: visible;
    }

    .bg-triangle-gradient {
        position: absolute;
        transform: scale(1.01);
        background-image: linear-gradient(to bottom right, hubl("$c2"), hubl("$c1"));
        clip-path: polygon(0 0, 10% 0, 100% 100%, 0% 100%);
        height: 100%;
        width: 100%;

        @media(max-width: 767px) {
            clip-path: polygon(10% 0, 100% 70%, 100% 100%, 0 100%, 0 0);
        }
        &--option-two {
            clip-path: polygon(0 0, 100% 65%, 100% 100%, 0% 100%);

            @media(max-width: 767px) {
                clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
            }
        }
        &--option-three {
            clip-path: polygon(50% 0, 100% 75%, 100% 100%, 0 100%, 0 0);
        }

        &--option-four{
            clip-path: polygon(0 40%, 100% 99%, 100% 100%, 0% 100%);
        }
        &--option-five{
            background-image: linear-gradient(to bottom left, hubl("$c1"), hubl("$c2"));
            clip-path: polygon(0 0, 100% 0, 100% 40%, 0% 100%);
        }
        &.z-index-set{
    //         position: absolute;
    // z-index: 2;
        }

    }
}

.bg-radial-gradient {
    background-image: radial-gradient(farthest-side at 50% 0%, hubl("$c2") 20%, hubl("$c1") 100%);
}



.another-triangle {
    position: relative;

    .bg-triangle-two {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: hubl("$white");
        clip-path: polygon(50% 100%, 100% 70%, 100% 100%, 0 100%, 0 70%);
        transform: translateY(1px);
        &--right{
            clip-path: polygon(70% 80%, 100% 35%, 100% 100%, 0 100%, 0 35%);
            @media(max-width: 1200px){
                clip-path: polygon(70% 80%, 100% 35%, 100% 100%, 0 100%, 0 50%);
            }
        }

        @media(max-width: 767px) {
            clip-path: polygon(50% 100%, 100% 80%, 100% 100%, 0 100%, 0 80%);
        }
    }

    .bg-img {
        background-color: hubl("$c1");
    }
}

.svg-container {
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    &.one-px-bottom{
        transform:translateY(1px);
    }
    &.one-px-top{
        transform:translateY(-1px);
    }
    &.turn-on{
        display:block;
    }
}