section.hero-banner {
    margin-top: 59px;
}

section.small-header {
    margin-top: 59px;

    .small-header-wrap {
        >h1 {
            line-height: 30px;
        }
    }
}

.blog-email-subscription {
    .subscribe-section {
        form {
            box-shadow: none;
            justify-content: flex-start;
            max-width: 800px;
            padding-left: 0;
            padding-right: 0;
            background-color: transparent;

            >div:nth-child(1) {
                width: 70%;

                @media(max-width: 1000px) {
                    width: 100%;
                }

                label {
                    margin: 0;
                }

                div.input {
                    width: 100%;

                    input {
                        background-color: transparent;
                    }
                }
            }

            .legal-consent-container {
                >div {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            div.hs_submit.hs-submit {
                .actions {
                    transform: translateY(-3px);

                    input.hs-button {
                        margin: 0 0 0 20px;

                        @media(max-width: 1000px) {
                            margin: 15px 0 0 0;
                        }

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}

.img-wrap-basic {
    >div {
        max-width: 95% !important;
    }

}

.subscribe-three-column {
    form.hs-form.hs-custom-form {
        box-shadow: none;
        padding: 0;

        .hs_email.hs-email {
            div.input {
                input.hs-input {
                    border: none !important;
                    border-bottom: 2px solid hubl("$first_color") !important;
                    border-radius: 0;
                    color: hubl("$main_font_color") !important;
                    padding: 0 5px 5px 5px;

                    &::placeholder {
                        color: hubl("$main_font_color") !important;
                    }
                }
            }
        }

        .legal-consent-container {
            >div {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .hs_submit.hs-submit {
            .actions {
                text-align: left;
            }
        }
    }
}

.sm-slider-wrapper {
    margin-top: 59px;
}

.small-header-for-blog{
    margin-top:59px;
}

.sodium-blog {
    .blog-content-section {
        section.listing-blog {
            .single-post {
                >div:nth-child(1) {
                    a {
                        width: 100%;
                        height: 250px;
                        display: block;

                        >div {
                            background-size: cover;
                            height: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
                >div:nth-child(2) {
                    >a{
                        text-decoration: none;
                    }
                    .cta-button.cta-primary{
                        margin-top:15px;
                    }
                }
            }
        }
        .blog-post-wrapper{
            .blog-section{
                .social-blog{
                    button.hide-arrow{
                        margin-top: 138px;
                    }
                    .social-list{
                        height: 137px;
                        >ul{
                            >li{
                                color:white;
                                transition:.3s ease;
                                i{
                                    color:white;
                                    transition:.3s ease;
                                }
                                &:hover{
                                    i{
                                        color:hubl("$first_color");
                                        transition:.3s ease;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}









// GLOBAL HEADER
header.header {
    .logo {
        .widget-type-logo {
            height: 60px;

            img {
                max-width: 170px;
            }
        }

        // height:60px;
    }

    .slicknav_menu {
        display: none;
    }

    .container {
        .main-menu {
            .widget-type-menu {
                .layout-widget-wrapper {
                    .hs-menu-wrapper {
                        ul {
                            >li {
                                >ul {
                                    >li {
                                        >a {
                                            width: fit-content;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

a.cta_button.cta-primary {
    padding-top: 16px;
    padding-bottom: 14px;
}

// GLOBAL FOOTER
.footer-container-wrapper {
    .footer-container {
        .footer--main-block {
            h2 {
                text-align: left;
                text-transform: inherit;
            }
        }

        .footer--post-block {
            ul {
                >li {
                    >p:nth-child(1) {
                        >a {
                            font-weight: bold;
                        }

                    }
                }
            }
        }

        .footer--bottom {
            .social {
                margin: 0;

                >li {
                    margin: 0;

                    a {
                        &:hover {
                            background-color: transparent;
                        }

                        height:30px;

                        i {
                            font-size: 14px;
                        }
                    }
                }


            }
        }

    }
}