#only-image.only-image {
    img {
        padding: 0 50px;
    }
}

.white-background {
    z-index: 1;
    background-color: hubl("$white");
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.image-bottom {
    >div {
        &:nth-child(2) {
            display: flex;
            align-items: flex-end;
        }
    }
}

.get-in-touch {
    span {
        display: flex;
        justify-content: center;
    }
}

.job-number {
    ul {
        >li {
            &:before {
                background-color: transparent;
                border-radius: 0;
                border-right: 2px solid hubl("$first_color");
                border-bottom: 2px solid hubl("$first_color");
                top: 50%;
                width: 8px;
                height: 12px;
                transform: rotate(45deg) translate(-50%, -50%);
            }
        }
    }
}
.padding{
 &--115{
     padding:0 115px;
 }   
}