.cards-sidebar-wrapper{
    .cards-sidebar{
        padding:0 15px 0 45px;
        @media(max-width:767px){
            padding:0 30px;
        }
        .cards-sidebar-inner{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width:100%;
            min-height:440px;
            border-radius:5px;
            padding:40px 35px 20px 35px;
            .title{

            }
            .description{

            }
            .button{

            }
        }
    }
}