.cards-wrapper {
    .cards {
        justify-content: center;
        .card {
            .card-container {
                padding: 50px 23px 0 23px;
                @media(max-width:500px){
                    padding: 50px 0 0 0;
                }

                .card-inner {
                    border-radius: 5px;
                    background: hubl("$white");
                    cursor: pointer;
                    &:hover{
                        .card-image {
                            .card-bg-img {
                               transform: scale(1.1);
                               filter:contrast(110%);
                               transition: .3s ease;
                            }
                        }
                    }

                    .card-image {
                        overflow: hidden;
                        .card-bg-img {
                            width: 100%;
                            height: 170px;
                            background-size: cover;
                            background-position: center;
                            border-radius: 5px 5px 0 0;
                            transition: .2s ease;
                        }
                    }

                    .card-text {
                        padding: 20px 15px;
                        text-align: center;
                    }

                    .card-button {
                        a {
                            width: 100%;
                            margin: 0;
                            border-radius: 0 0 5px 5px;
                        }
                    }
                }
            }
        }
    }
}