.carrer-search-wrapper {
    background-color: hubl("$c3");
    padding-top:70px;
    padding-bottom:90px;

    .title{
        text-align: center;
        h2{
            margin-bottom: 25px;
        }
    }

    form {
        display: flex;
        box-shadow: none;
        background: transparent;
        padding: 0;
        max-width: 800px;

        .me-career-search-banner__input-wrapper {
            &:nth-child(1) {
                flex-grow: 3;

                input {
                    border: 1px solid hubl("$first_color") !important;
                    border-radius: 5px 0 0 5px;
                }
            }

            &:nth-child(2) {
                flex-grow: 1;
                input {
                    border: 1px solid hubl("$first_color") !important;
                    border-radius: 0;
                    border-left:none !important;
                }
            }
        }

        .me-career-search-banner__submit-wrapper {
            flex-shrink: 0;

            input {
                margin: 0;
                border-radius: 0 5px 5px 0;
                border-color: hubl("$first_color");
                background-color: hubl("$first_color");
                padding: 15px 25px 15px 25px;
                height:54px;

                &:hover {
                    border-color: hubl("$first_color");
                    color: hubl("$first_color");
                }
            }
        }
    }
}