.circle-tags-wrapper {
    z-index: 3;
    position: relative;
    .circle-tags {
        background-image: radial-gradient(farthest-side at 50% 0%, hubl("$c2") 20%, hubl("$c1") 100%);
        border-radius: 5px;

        .elements {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-top:25px;
            padding-bottom: 15px;
            border-radius: 5px;
            box-shadow: 0px 30px 30px hubl_rgba("$dark", 0.8);


            .element {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 20%;
                padding-top:25px;
                padding-bottom:25px;
                @media(max-width:767px){
                    width:33.3%;
                }
                @media(max-width:500px){
                    width:50%;
                }

                .circle {
                    position: relative;
                    width: 100px;
                    height: 100px;
                    background-color: white;
                    border-radius: 50%;
                    box-shadow: hubl("$co1") 0px 3px 6px;

                    .image {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        max-width:32px;
                    }
                }
                .text{

                    p{
                        margin-top:10px;
                        margin-bottom:0;
                    }
                }
            }
        }
    }

}