.circle-text-image-wrapper {
    .circle-text-image {
        .element {
            .element-inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media(max-width:991px){
                    padding:10px 0;
                }
                &.white-color{
                    .circle{
                        border: 2px solid hubl("$white");
                    }
                    p{
                        color:hubl("$white");
                    }
                }

                .circle {
                    width: 130px;
                    height: 130px;
                    border: 2px solid hubl("$first_color");
                    border-radius: 50%;

                    .image-icon {
                        position: relative;
                        top:50%;
                        transform: translateY(-50%);
                        text-align: center;
                        img {
                            height: 50%;
                            width: 50%;
                        }
                    }
                }

                .title {
                    color:hubl("$first_color");
                    p{
                        margin-top:15px;
                        margin-bottom:5px;
                    }
                }

                .description {
                    max-width: 215px;
                    text-align: center;
                }
            }
        }
    }
}