.clients-opinion-wrapper {
    .clients-opinion {
        .title {
            width: 100%;
            text-align: center;
            // padding-bottom: 50px;
        }

        .clients-opinion-slider {
            position: relative;
            max-width: 1920px;
            overflow: hidden;

            .white-shadow{
                position: absolute;
                z-index: 2;
                width: 33%;
                height: 100%;

                &--left{
                    background-image: linear-gradient(to right, rgba(255,255,255,1) , rgba(255,255,255,0) 300%);

                }
                &--right{
                    right:0;
                    background-image: linear-gradient(to left, rgba(255,255,255,1) , rgba(255,255,255,0) 300%);
                }
                @media(max-width:991px){
                    display:none;
                }
            }

            .swiper-wrapper {
                .swiper-slide {
                    .client-opinion-element {
                        padding: 50px 60px 40px 60px;
                        @media(max-width: 991px){
                            padding:40px 80px 30px 80px;
                        }
                        @media(max-width: 567px){
                            padding:40px 40px 30px 40px;
                        }

                        .opinion {
                            position: relative;
                            padding: 35px;
                            border: 2px dashed hubl("$co3");
                            border-radius: 30px;
                            @media(max-width: 567px){
                                padding:35px 20px;
                            }

                            &:before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 55px;
                                height: 55px;
                                background-image: url('https://www.contractor-hub.co.uk/hubfs/Contractor%20Hub%20images/quotation-in-circle.png');
                                background-size: 55px;
                                transform: translate(-50%, -50%);
                            }
                        }

                        .person {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            transform: translateY(-50%);
                            .person-name{
                                padding-right:10px;
                                color:hubl("$co3");
                            }

                            .person-image {
                                width:100%;
                                max-width: 70px;

                                img {
                                    border-radius: 50%;
                                    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
                                }
                            }
                            .person-role{
                                padding-left:10px;
                                color:hubl("$co4");
                            }
                        }
                    }

                }
            }
            .swiper-pagination-bullet{
                background-color:hubl("$co3");
                opacity: 0.4;
                width:9px;
                height:9px;
                margin: 0 6px;
                &-active{
                    opacity: 1;
                }
            }
            .swiper-button-prev, .swiper-button-next{
                background-image:url('https://www.contractor-hub.co.uk/hubfs/Contractor%20Hub%20images/left-arrow-3.jpg');
                background-size:contain;
                border-radius: 50%;
                transform: translate(0%,-50%);
                width:90px;
                height:90px;
                margin:0;
                transition: .3s ease;
                
                &.rotated{
                    transform: translate(0%,-50%) rotate(180deg);
                    &:hover{
                        transform: translate(0%,-50%) rotate(180deg) scale(1.1);
                        transition: .3s ease;
                    }
                    @media(max-width:567px){
                        top: unset;
                        left:unset;
                        bottom: -25px;
                        right: 15px;
                    }
                }
                &:hover{
                    transform: translate(0%,-50%) scale(1.1);
                    transition: .3s ease;
                }
                @media(max-width:991px){
                    width:55px;
                    height:55px;
                }
                @media(max-width:567px){
                    top: unset;
                    bottom: -25px;
                    left: 15px;
                }
            }

        }
    }
}