.counter-title-image-wrapper {
    .counter-title-image {
        .element {
            .element-inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                @media(max-width:991px){
                    padding:10px 0;
                }

                .circle {
                    width: 130px;
                    height: 130px;
                    border: 2px solid hubl("$first_color");
                    border-radius: 50%;

                    .image-icon {
                        position: relative;
                        top:50%;
                        transform: translateY(-50%);
                        text-align: center;
                        img {
                            height: 50%;
                            width: 50%;
                        }
                    }
                }

                .title {
                    color:hubl("$first_color");
                    p{
                        margin-top:15px;
                        margin-bottom:5px;
                    }
                }

                .numbers-counter {
                    color:hubl("$first_color");
                    font-size:rem(64);
                    
                    font-weight:bold;
                    p{
                        line-height: rem(64);
                        margin-top:10px;
                        margin-bottom:0;
                    }
                }
            }
        }
    }
}