.filter-element-buttons-wrapper {
    position: relative;
    z-index: 1;

    .filter-element-buttons {
        display: flex;
        justify-content: center;

        .element {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px 25px 0px 25px;
            opacity: 0.5;
            cursor: pointer;
            transition: .3s ease;

            .image {
                max-width: 80px;
                height: 70px;

                img {
                    max-height: 70px;
                }
            }

            .title {
                color: hubl("$white");
                // height:60px;

                p {
                    margin: 20px 0 25px 0;
                    font-size: 15px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                background-color: hubl("$white");
                bottom: 0;
                left: 0;
                transition: .3s ease;
            }

            &.active,
            &.active-two {
                opacity: 1;
                transition: .3s ease;

                &::after {
                    height: 7px;
                    transform: translateY(50%);
                    transition: .3s ease;
                }
            }

        }
    }
}

.filter-element-items-wrapper {
    position: relative;
    z-index: 1;

    .filter-element-items {
        .filtered-item {
            .item{
                background-color:hubl("$white");
                border-radius:5px;
                margin-top:40px;
                .image-and-logo {
                    position: relative;
                    .image {
                        height: 325px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        border-radius:5px 5px 0 0;
                        @media(max-width:575px){
                            height:250px;
                        }
                    }
                    .mask-on-logo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        height: 120px;
                        width: 100%;
                        transform: translateY(-100%);
                        background-color: hubl_rgba("$first_color",0.7);
                        .logo {
                            img {
                                max-height: 100px;
                                padding:10px;
                            }
                        }
                    }
                }
                .description{
                    padding:25px;
                    p{
                        margin:0;
                    }
                }
            }
        }
    }
}