.helper-wrapper {
    .helper {
        flex-direction: column;
        align-items: center;
        

        .title {
            text-align: center;
        }

        .elements {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            padding-top:15px;
            .element{
                
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top:30px;
                padding-bottom:10px;
                
                .image{
                    max-width:125px;
                    margin-bottom:35px;
                    height:130px;
                }
                @media(max-width:767px){
                    
                    width:50%;
                }
                @media(max-width:400px){
                    width:100%;
                }
                .button{
                    a{
                        margin-right:0;
                    }
                }
            }
            .spacer{
                border-left:1px solid hubl_rgba("$co2", 0.3);
                &:nth-last-child(1){
                    display: none
                }
                @media(max-width:767px){
                    display:none;
                }
            }

        }
    }
}