.image-slider-wrapper{
    position:relative;
background-color:white;
padding:60px 0;
&.shadow{
    box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
    z-index: 2;
}
.image-slider{
    max-width:1200px;
    margin:0 auto;
    .swiper-container{
        .swiper-wrapper{
            display: flex;
            align-items: center;
            .swiper-slide{
                text-align: center;
                img{
                    max-width:160px;
                    max-height:100px;
                }
            }
        }
    }
}
}