.image-text-2col-wrapper {
    position: relative;
    z-index: 2;

    .image-text-2col {
        .image-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                text-align: center;
                @media(max-width:767px){
                    transform:translateY(0) !important;
                }

                img {
                    width: 100%;
                    max-width: 500px;
                }
            }
        }

        .description-wrapper {
            display: flex;
            align-items: center;

            .description {}
        }

        &.reverse {
            flex-direction: row-reverse;

            @media(max-width: 767px) {
                flex-direction: column-reverse;
            }
        }

        &.white {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            span
                {
                color: hubl("$white");
                @media(max-width: 767px){
                    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
                }
            }
        }
    }
}