.job-information-table-wrapper{
    .job-information-table{
        .column{
            display:flex;
            border-bottom: 1px solid hubl_rgba("$co5", 0.2);
            margin-bottom:25px;
            .property{
                width:60%;
                color: hubl_rgba("$co5",0.3);
                font-weight:bold;
            }
            .value{
                width:40%;
                span{
                    color: hubl("$co5");
                    font-weight:bold;
                    &:nth-child(2){
                        font-weight:normal;
                    }
                }
            }
        }
        .keywords{
            p{
                color: hubl_rgba("$co5",0.3);
                font-weight:bold;
            }
span{
    font-size:rem(14);
    border: 1px solid hubl("$first_color");
    color:hubl("$first_color");
    font-weight:bold;
    border-radius:5px;
    padding:1px 6px;
    margin-right: 5px;

}
        }
    }
}