.job-offer-container {
    >span {
        >div {
            &:nth-child(even) {
                background-color: hubl_rgba("$c3", 0.4);
            }
        }
    }
}

.me-job-offer-row__inner {
    display: flex;
    padding: 25px 0;

    .me-job-offer-row__job-title {
        width: 55%;
        padding: 0 30px;
        margin-top: 18px;
    }

    .me-job-offer-row__location {
        width: 18%;
        margin-top: 18px;
        padding-right:20px;

        p {
            span {
                &:nth-child(1) {
                    color: hubl("$first_color");
                    font-weight: bold;
                }
            }
        }
    }

    .rate {
        width: 10%;
        margin-top: 18px;
        padding-right:15px;
    }

    .me-job-offer-row__button {
        width: 17%;
        text-align: right;

        a {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }





    &__column-property {
        display: flex;
        border-bottom: 1px solid hubl("$dark");
        opacity: 0.3;

        // margin-bottom:15px;
        p {
            font-size: rem(14);
            margin-bottom: 8px;



        }

        .me-job-offer-row__job-title {
            width: 55%;
            padding-left: 30px;
        }

        .me-job-offer-row__location {
            width: 18%;
        }

        .rate {
            width: 10%;
        }

        .me-job-offer-row__button {
            width: 17%;
        }
    }
}