.latest-post-contractor-wrapper {

    .latest-post-contractor {
        .latest-post-header {
            width: 100%;
            text-align: center;
        }

        section {
            justify-content: center;
            .post-element {
                display: flex;
                flex-direction: column;
                padding-bottom:30px;
                cursor: pointer;
                &:hover{
                    .post-image{
                        >div{
                            transform: scale(1.1);
                            filter:contrast(110%);
                            transition: .3s ease;
                        }
                    }
                }

                .post-image {
                    height: 170px;
                    overflow:hidden;
                    border-radius: 5px 5px 0 0;

                    >div {
                        // background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 100%;
                        height: 100%;
                        
                        transition: .2s ease;
                    }
                }

                .post-title {
                    h3 {
                        margin-top: 15px;
                        font-size: rem(20);
                        line-height: rem(27);
                        margin-bottom: 5px;
                    }
                }

                .post-published-date {
                    .date {
                        opacity: 0.5;
                        margin: 0;
                    }
                }

                .post-description {}

                .post-button {
                    text-align: right;
                    margin-top:auto;
                    width: fit-content;
                    margin-left:auto;
                    border-bottom: 1px solid hubl("$white");
                    transition: .3s ease;
                    &:hover{
                        border-bottom: 1px solid hubl("$first_color");
                        transition: .3s ease;
                    }
                }
            }
        }
    }

}