.logo-container{
    padding:25px 0 25px 0;
    width:20%;
    @media(max-width:1200px){
        width:25%;
    }
    @media(max-width:991px){
        width:33.3%;
    }
    @media(max-width:767px){
        width:50%;
    }
    @media(max-width:575px){
        width:100%;
    }
    .logo-image{
        max-width: 180px;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: relative;
        @media(max-width:575px){
            max-width:250px;
        }
    }
}