.quotation-wrapper {
    background-color: hubl("$co3");
    padding: 0 45px 55px 45px;
    text-align: center;

    .quotation {
        .quotation-icon {
            position: relative;
width:100%;
            height:70px;

            span {
                font-size: 240px;
                color: hubl("$first_color");
                position: absolute;
                top:70px;
                line-height: 0px;
                left:50%;
                width:80px;
                height:70px;
                transform:translateX(-60%);
            }
        }

    }
}