.ratings-wrapper {
    .ratings {
        display: flex;
        align-items: center;
        justify-content: center;
        padding:30px 0 70px 0;
        @media(max-width:500px){
            flex-direction: column;
        }

        .title {
            flex-shrink:0;
            h3{
                margin:0;
            }
        }

        .bars {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height:10px;
            margin: 0 10px 0 30px;
            @media(max-width:500px){
               margin:0;
               padding:10px 0 20px 0;
            }

            .grey-bar,
            .blue-bar {
                position: absolute;
                height: 10px;
                width:100%;
                left:0;
                background-color: hubl("$co3");
            }

            .blue-bar {
                background-color: hubl("$first_color");
                width:79%;
            }
        }

        .numbers {


            span {
                &:nth-child(1) {
                    font-size: rem(30);
                    color: hubl("$first_color");
                    font-weight: bold;
                }

                &:nth-child(2) {
                    font-size: rem(12);
                    color: hubl("$first_color");
                    font-weight: bold;
                }
            }
        }
    }
}