.socials-wrapper{
    .socials{
        display:flex;
        justify-content: space-around;
        padding: 0 230px;
        @media(max-width:991px){
            padding: 0 50px;
        }
        @media(max-width:767px){
            padding: 0;
        }
        .element{
            transition: .3s ease;
            filter: brightness(95%);
            
            &:hover{
                transform: scale(1.1);
                filter: brightness(100%);
                transition: .3s ease;
            }
            display: flex;
            align-items: center;
            a{
                img{
                    max-height:70px;
                    @media(max-width:767px){
                        max-height:30px;
                    }
                }
            }
        }
    }
}