.step-by-step-wrapper {
    .step-by-step {
        .elements {
            justify-content: center;
            padding-top: 80px;

            @media(max-width: 1200px) {
                flex-wrap: nowrap;

            }

            @media(max-width: 991px) {
                flex-wrap: wrap;
                padding: 60px 0;
            }

            >div:nth-last-child(1) {
                display: none;
            }

            >div {
                width: 14.2%;
            }


            .element {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                @media(max-width: 1200px) {
                    padding: 0 30px;
                }
                

                @media(max-width: 1200px) {
                    width: 100%;
                }

                @media(max-width: 991px) {
                    width: 50%;
                    padding:20px 30px;
                }
                @media(max-width:400px){
                    width:100%;
                }

                .image {
                    height: 80px;
                    overflow: hidden;
                    padding-bottom: 15px;

                    img {
                        max-width: 80px;
                        max-height: 60px;
                        position: relative;
                        top:50%;
                        transform: translateY(-50%);
                    }
                }

                .text {
                    p {
                        margin-bottom: 10px;
                        &.blue-color{
                            color:hubl("$first_color");
                        }
                    }
                }
                .paragraph{
                    width:100%;
                }
            }

            .arrow-and-line {
                margin: 0 -15px;
                padding-top: 20px;
                overflow: hidden;

                @media(max-width: 1200px) {
                    display: none;
                }
            }
        }
    }
}