.table-ubmberlla-wrapper {
    .table-ubmberlla {
        display: flex;
        flex-direction: column;
        padding: 0 15px;

        .services,
        .fees,
        .partners {
            display: flex;
            font-weight: bold;
            padding: 25px 0 5px 0;
            color: hubl("$co5");
            border-bottom: 1px solid hubl_rgba("$co5", 0.2);

            &:nth-last-child(1) {
                border-bottom: none;
                padding-bottom:85px;
                align-items: center;
                .images{
                    display: flex;
                    flex-wrap:wrap;
                    .image{
                        padding:0 15px 15px 15px;
                        width:25%;
                        min-width:150px;
                    }

                }
            }

            .title-box {
                width: 100px;
                min-width: 100px;

                p {
                    color: hubl_rgba("$co5", 0.3);
                }
            }
            .property{
                padding-right:30px;
            }
            @media(max-width:400px){
                flex-wrap:wrap;
                >div{
                    &:nth-child(1){
                        width:100%;
                    }
                }
            }
        }
    }
}