.text-boxes-wrapper {
    .text-boxes {
        padding:0 55px;
        @media(max-width:991px){
            padding:0;
        }
        .element {
            padding-top:70px;
            display: flex;
            flex-direction: row;
            @media(max-width:767px){
                padding-top:30px;
            }
            .left-side {

                .image {
                    width:70px;
                    img{

                    }
                }


            }

            .right-side {
                padding:0px 40px 0 25px;
                @media(max-width:400px){
                    padding-right: 0;
                }
                .title {
                    h3{
                        margin: 15px 0 0 0 ;
                    }
                }
                .paragraph {}
            }
        }
    }
}